{% extends 'base.html.twig' %}

{% block title %}New Produit1{% endblock %}

{% block body %}
    <h1>Create new Produit1</h1>

    {{ include('produit1/_form.html.twig') }}

    <a href="{{ path('produit1_index') }}">back to list</a>
{% endblock %}
