{{ form_start(form) }}
    {{ form_widget(form) }}
<span style="text-align: center;" class="course-number">
    <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>        </span>

{{ form_end(form) }}
