    <h1  class="form-group" style="color:var(--primary-color)">AlphaFitness</h1>
    <p>Nom : {{contact.nom}}</p>
    <p>Nom d'utilisateur de notre siteWeb : {{app.user.username}}</p>
    <p>e-mail : {{contact.email}}</p>
    <p>Message : {{contact.message|raw}}</p>


