{% extends 'base.html.twig' %}

{% block title %}<title>Alpha Fitness | Ajouter Utilisateur</title>{% endblock %}

{% block innerblock %}
    <div class="inner-block">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <a href="{{ path('user_index') }}">Retour</a>
                            <h1>Créer nouveau Utilisateur</h1>

                            {{ include('user/_form.html.twig') }}


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
