.button
{
-fx-background-color : #ebe8f9;
-fx-text-fill : #000000;
}
.button:hover{
-fx-background-color : #d34e4e;
}
.button:pressed
{
-fx-background-color : #949494;
}
.jfx-date-picker .jfx-text-field{
    -jfx-unfocus-color: #ebe8f9;
}
.jfx-date-picker > .jfx-text-field {
    -jfx-label-float: true;
}
.scroll-pane {
    -fx-background-color: #FFFFFF;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #ebe8f9;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: White;
}
.barItem:hover{
    -fx-background-color : #d34e4e;
}
