{% extends 'base.html.twig' %}

{% block title %}<title>Alpha Fitness | Ajouter Produit</title>{% endblock %}

{% block innerblock %}
    <div class="inner-block">
        <a href="{{ path('produit_index') }}"><i class="fa fa-arrow-circle-o-left">Retour</i></a>
        <h1>Remplissez le formulaire suivant:</h1>

        {{ include('produit/_form.html.twig') }}

    </div>
{% endblock %}
